/* Set the styling for the grouped header */
#GroupingColumn {
    background-color: cadetblue;
    color: black;
    font-weight: bold;
}

.tb {
    float: left;
    width: auto !important;
    margin-bottom: 4px;
}
/* Set the style for Tables */
.TableStyle {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

    .TableStyle td,
    .TableStyle th {
        border: 1px solid black;
        padding: 2px;
        font-size: 12px;
    }

    .TableStyle tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .TableStyle tr:not(#GroupingColumn):hover {
        background-color: #ddd;
    }

    .TableStyle th {
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
    }


/* Style for the paragraph and title*/
h1 {
    text-align: center;
    font-size: 12pt;
    text-decoration: underline;
}

p {
    margin-top: 0px;
    padding: 0 0 0px 0px;
    font-size: 10pt;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 4px;
    margin-left: 4px;
    justify-content: space-between;
}


    .row div, .row div p {
        width: 100%;
        word-wrap: break-word;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

        .row div img {
            max-height: 150px;
            max-width: 175px;
            /*border: 1px black solid;*/
            object-fit: cover;
        }

.b {
    border: 1px black solid;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-header-group;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
/*@page {
    size: auto;*/ /* auto is the initial value */
    /* this affects the margin in the printer settings */
    /*margin: 10mm 10mm 10mm 10mm;
}*/

/*body {*/
    /* this affects the margin on the content before sending to printer */
    /*margin: 0px;
}*/ 
