<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ERP.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>

  </connectionStrings>
  <userSettings>
    <ERP.Desktop.Properties.Settings>
      <setting name="Schema" serializeAs="String">
        <value>dbo</value>
      </setting>
      <setting name="PointOfSale" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="FastKeyOpenOrder" serializeAs="String">
        <value>112</value>
      </setting>
      <setting name="FaskKeyReturns" serializeAs="String">
        <value>113</value>
      </setting>
      <setting name="FastKeyItemsTable" serializeAs="String">
        <value>114</value>
      </setting>
      <setting name="FastKeyItemSearch" serializeAs="String">
        <value>115</value>
      </setting>
      <setting name="FastKeySaveOrder" serializeAs="String">
        <value>116</value>
      </setting>
      <setting name="AllowSaleWithoutBalance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fixQuantity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MergeMatched" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="EntityName" serializeAs="String">
        <value>VTS-Co</value>
      </setting>
      <setting name="Header1" serializeAs="String">
        <value>VTS for IT solutions</value>
      </setting>
      <setting name="Header2" serializeAs="String">
        <value />
      </setting>
      <setting name="Footer1" serializeAs="String">
        <value />
      </setting>
      <setting name="Footer2" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodeName" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodePhone" serializeAs="String">
        <value />
      </setting>
      <setting name="LogoBase64" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstInit" serializeAs="String">
        <value />
      </setting>
      <setting name="LastInit" serializeAs="String">
        <value />
      </setting>
      <setting name="CodePrefix" serializeAs="String">
        <value>d</value>
      </setting>
    </ERP.Desktop.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>